h1 {{ "WELCOME_MESSAGE" | translate }}
div.progress
  div.progress-bar.progress-bar-info(style='width: 100%')
form#loginForm.form-horizontal(name="loginForm", ng-controller="homePageController")
  fieldset
    div.form-group
      div.col-lg-10
        input#username.form-control(name="username", placeholder='{{"USERNAME" | translate}}', type='text', ng-minlength='3', autocomplete='off', required, ng-model='formData.username', reserved-username, server-error)
        div(ng-messages="loginForm.username.$error")
          div.invalid(ng-message='minlength') {{"USERNAME_ERROR_LENGTH" | translate}}
          div.invalid(ng-message='reservedUsername') {{formData.username}} {{"USERNAME_ERROR_RESERVED" | translate}}
          div.invalid(ng-message='server') {{formError.username | translate}}
    div.form-group
      div.col-lg-10
        input#password.form-control(name="password", placeholder='{{"PASSWORD" | translate}}', type='password', ng-minlength='4', autocomplete='off', required, ng-model='formData.password', server-error)
        div(ng-messages="loginForm.password.$error")
          div.invalid(ng-message='minlength') {{"PASSWORD_ERROR_LENGTH" | translate}}
          div.invalid(ng-message='server') {{formError.password | translate}}
    div.form-group.animate-hide(ng-show='formData.isRegistration')
      div.col-lg-10
        input#confirmPassword.form-control(name="confirmPassword", placeholder='{{"CONFIRM_PASSWORD" | translate}}', type='password', autocomplete='off', ng-model='formData.confirmPassword', first-password='{{ formData.password }}', password-equality, server-error)
        div(ng-messages="loginForm.confirmPassword.$error")
          div.invalid(ng-message='passwordEquality') {{"CONFIRM_PASSWORD_ERROR_MISMATCH" | translate}}
    div.form-group.animate-hide(ng-show='formData.isRegistration')
      div.col-lg-10
        input#inputFullname.form-control(placeholder='{{"FULL_NAME_REGISTRATION" | translate}}', type='text', ng-model='fullnameInput', autocomplete='off')
    div.form-group
      span.col-lg-10
        button#loginButton.btn.btn-info(ng-click='login()') {{"LOGIN" | translate}}
        span(style='padding-right: 10px')
        button#registerButton.btn.btn-warning(ng-click='register()') {{"REGISTER" | translate}}
      div(ng-messages="loginForm.$error")
        div.invalid(ng-message='server'){{ formError.generic }}
    div.form-group
      div.col-lg-2
        select.form-control(ng-model="lang", ng-options="option.language for option in availableLanguages track by option.id", ng-change="changeLanguage()")
