h1 Welcome to Survivable Social Network on a Chip
div.progress
  div.progress-bar.progress-bar-info(style='width: 100%')
form#loginForm.form-horizontal(name="loginForm", ng-controller="homePageController")
  fieldset
    div.form-group
      div.col-lg-10
        input#username.form-control(name="username", placeholder='Username', type='text', ng-minlength='3', autocomplete='off', required, ng-model='formData.username', reserved-username, server-error)
        div(ng-messages="loginForm.username.$error")
          div.invalid(ng-message='minlength') Username must be at least 3 characters long
          div.invalid(ng-message='reservedUsername') {{formData.username}} is a reserved username
          div.invalid(ng-message='server') {{formError.username}}
    div.form-group
      div.col-lg-10
        input#password.form-control(name="password", placeholder='Password', type='password', ng-minlength='4', autocomplete='off', required, ng-model='formData.password', server-error)
        div(ng-messages="loginForm.password.$error")
          div.invalid(ng-message='minlength') Password must be at least 4 characters long
          div.invalid(ng-message='server') {{formError.password}}
    div.form-group.animate-hide(ng-show='formData.isRegistration')
      div.col-lg-10
        input#confirmPassword.form-control(name="confirmPassword", placeholder='Confirm Password', type='password', autocomplete='off', ng-model='formData.confirmPassword', first-password='{{ formData.password }}', password-equality, server-error)
        div(ng-messages="loginForm.confirmPassword.$error")
          div.invalid(ng-message='passwordEquality') Passwords must match
    div.form-group.animate-hide(ng-show='formData.isRegistration')
      div.col-lg-10
        input#inputFullname.form-control(placeholder='Full Name (optional)', type='text', ng-model='fullnameInput', autocomplete='off')
    div.form-group
      span.col-lg-10
        button#loginButton.btn.btn-info(ng-click='login()') Login
        span(style='padding-right: 10px')
        button#registerButton.btn.btn-warning(ng-click='register()') Register
      div(ng-messages="loginForm.$error")
        div.invalid(ng-message='server'){{ formError.generic }}
