div(ng-controller='messagesController')
	include includes/lobby-basic-nav.jade
	div#scrollingMessages
		span(ng-show='result.length == 0 && !messages.length==0') No results for your search
		div.messages.msg(ng-repeat="msg in result = (messages | filter : filterMessages(filteredParam) | orderBy : 'createdAt' : descending | limitTo: limitResults)")
			div.timestamp {{ msg.createdAt | date : 'MM/dd/yyyy HH:mm:ss a' }}
			div.username {{ msg.author}}
				span.user-status(style='padding: 0 0 0 5px;') Status: {{ status(msg.author).code }} Last updated at: {{ status(msg.author).lastUpdatedAt | date : 'MM/dd/yyyy HH:mm:ss a' }}
			div {{ msg.content }}
		button.btn.btn-warning#showMore(type='button', style='width:20%', ng-click='showMoreResults()', ng-show='searchMode && !result.length==0') Show more
	div.input-group#wallmessageForm
		input.form-control(type='text',style='width:80%', ng-model='messageInput')
		button.btn.btn-warning(type='button', style='width:20%', ng-click='post()') Send
