div#lobbyPage(ng-controller='lobbyPageController')
  include includes/lobby-main-nav.jade
  div.well
    div#buttonBlocks
      a.btn.btn-info.btn-lg.btn-block(ui-sref='announcements') {{ "ANNOUNCEMENTS" | translate}}
      a.btn.btn-info.btn-lg.btn-block(ui-sref='wall') {{"WALL" | translate}}
      a.btn.btn-info.btn-lg.btn-block(ui-sref='performance', ng-show='isMonitor || isAdmin') {{"MEASURE_PERFORMANCE" | translate}}
      a.btn.btn-info.btn-lg.btn-block(ui-sref='administer', ng-show='isAdmin') {{"ADMINISTER_PROFILE" | translate}}
      
    div.alert.alert-dismissible.alert-warning.animate-hide#welcomemessage(ng-show='firstwelcome')
      button.close(type='button',data-dismiss='alert',ng-click='resetFirstTimeUser()') x
      h3(translate="WELCOME_USERNAME"  translate-values="{ username: '{{username}}' }")
      p(translate="WELCOME_PARAGRAPH" translate-compile)
      p.text-primary {{"CATEGORIES_TITLE" | translate}}
      table.table.table-striped.table-hover
        thead
          tr
            th {{"STATUS" | translate}}
            th {{"EXPLANATION" | translate}}
            th {{"COLOR_CODE" | translate}}
        tbody
          tr
            td {{"OK" | translate}}
            td {{"OK_EXPLANATION" | translate}}
            td.text-success {{"GREEN" | translate}}
          tr
            td {{"HELP" | translate}}
            td {{"HELP_EXPLANATION" | translate}}
            td.text-warning {{"YELLOW" | translate}}
          tr
            td {{"EMERGENCY" | translate}}
            td {{"EMERGENCY_EXPLANATION" | translate}}
            td.text-danger {{"RED" | translate}}
          tr
            td {{"UNDEFINED" | translate}}
            td {{"UNDEFINED_EXPLANATION" | translate}}
            td 
      p.text-primary {{"HOW_TO_SHARE_STATUS_TITLE" | translate}}
      p {{"HOW_TO_SHARE_STATUS_STEP_1" | translate}}
      p {{"HOW_TO_SHARE_STATUS_STEP_2" | translate}}
