div(ng-controller='lobbyPageController')
    ul.nav.nav-tabs
        li
            a(ng-click='tabDirectory()', data-toggle="tab") Directory
        li
            a(ng-click='tabLobby()', data-toggle="tab") Lobby
        li
            a(ng-click='tabSettings()', data-toggle="tab") Settings
    div.tab-content(id="myTabContent")
        div.alert.alert-dismissible.alert-warning.animate-hide#welcomemessage(ng-show='firstwelcome')
                button.close(type='button',data-dismiss='alert',ng-click='closewelcome()') ×
                h3 Welcome, {{username}}!
                p This is a <strong><em>Survivable Social Network on a Chip (SSNoC)</em></strong> which can help you in emergency. The first thing you'd better do is to <strong><em>share your status</em></strong> to let others know the situation.
                p.text-primary The categories of status:
                table.table.table-striped.table-hover
                  thead
                    tr
                    th Status
                    th Explanation
                    th Color Code
                    tr
                  tbody
                    tr
                    td OK
                    td I am OK, I do not need help.
                    td.text-success Green
                    tr
                    td Help
                    td I need help, but this is not a life threatening emergency.
                    td.text-warning Yellow
                    tr
                    td Emergency
                    td I need help now, as this is a life threatening emergency!
                    td.text-danger    Red
                    tr
                    td Undefined
                    td The user has not been providing her status yet.
                    td 
                p.text-primary How to share your status:
                p Step 1: Elect to share status
                p Step 2: Select one from the set of statuses the system proposes
        div.animate-hide(ng-show='seedirectory')
            div.list-group
              a.list-group-item#theUser {{username}}
              a.list-group-item#onlineUser(ng-repeat='onlineitem in onlineitems') {{onlineitem}}
              a.list-group-item#offlineUser(ng-repeat='offlineitem in offlineitems') {{offlineitem}}  
        div.animate-hide(ng-show='seelobby')
            div.input-group(style='position:fixed; bottom:0;width:99%')
                input.form-control(type='text',style='width:89%')
                button.btn.btn-warning(type='button',style='width:10%') Send
        div.animate-hide(ng-show='seesettings')
            button.btn.btn-warning#logoutButton(ng-click="logout()") Log out