doctype html
html(ng-app="myApp")
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel='stylesheet', href='/libs/bootswatch-dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/libs/angular-bootstrap/ui-bootstrap-csp.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    script(src='/libs/angular/angular.js')
    script(src='/libs/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src='/libs/angular-ui-router/release/angular-ui-router.min.js')
    script(src='/libs/angular-messages/angular-messages.js')
    script(src='/js/services/mainService.js')
    script(src='/js/services/userService.js')
    script(src='/js/services/messageService.js')
    script(src='/js/main.js')
    script(src='/js/controllers/homePageController.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/socket.js')
    script(src='/js/controllers/lobbyPageController.js')
    div(ui-view)
