doctype html
html(ng-app="myApp")
  head
    title= title
    link(rel='stylesheet', href='/libs/bootswatch-dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/libs/angular-bootstrap/ui-bootstrap-csp.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    script(src='/libs/angular/angular.js')
    script(src='/libs/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src='/libs/angular-route/angular-route.min.js')
    script(src='/libs/angular-messages/angular-messages.js')
    script(src='/js/services/mainService.js')
    script(src='/js/main.js')
    script(src='/js/controllers/homePageController.js')
    div
        ng-view
