body {
  padding: 10px;
}

a {
  color: #00B7FF;
}

h1, #loginForm, input#username, input#password, input#confirmPassword, #inputFullname {
	clear: both;
	text-align: center;
}
#loginForm,#welcomeMessageForm {
	margin: 0 auto;
	background-color: #EDEDED;
	max-width: 70%;
	padding: 10px;
}

#input#username, input#password, input#confirmPassword, #inputFullname {
	display: inline;
	max-width: 100%;
}

.col-lg-10 {
    width: 100%;
}

h3{
	clear: both;
	text-align: left;
}

#logoutButton {
	float: right !important;
}

#theUser {
	background:#772953;
	color:#fff;
	font-size:16px;
	height:40px
}
#onlineUser{
	background:#fcf8e3;
	font-size:16px;
	height:40px
}
#offlineUser{
	background:#f5f5f5;
	font-size:16px;
	height:40px
}
#welcomemessage{
	width:65%; 
	margin-top:30px; 
	margin-left:17.5%
}

#scrollingMessages {
	overflow: scroll;
	height: 400px;
	margin: 5px;
}

.messages { 
	padding: 5px 10px; 
	background-color: #cdcdcd;
	opacity: 0.6;
	border-radius: 10px;
	margin: 5px 0 5px 0;
	float: left;
	width: 100%;
}

.timestamp {
	float: right;
}

.msg {
	font-size: 18px;
	color: #000;
	display: inline-table;
	width: 100%;
}

.username {
	font-weight: bold;
}
