body {
	padding: 10px;
}

.navbar-default{
    background:none;    
    border:0;
    position:absolute;
    top:15px;
    right:15px; 
}

.navbar-collapse{
    background:#f5f5f5; 
}

.navbar-collapse.collapse{
    display: none !important;
    height: 0 !important;
    padding-bottom: 0;
    overflow: hidden !important;
}

.navbar-toggle.collapsed{
    display:block !important;    
}

.navbar-toggle{
    display:block !important;    
}

.navbar-collapse.collapse.in{
    display:block !important;    
    height:auto !important;
    overflow:visible !important;
}

.navbar-nav {
	float: unset !important;
}
.navbar-nav>li,.navbar-header{
    float: none;

}

.navbar-nav>li {
	font-size: 16px;
	padding: 10px;
}

.navbar-default .navbar-toggle.collapsed{
    background: #fff;    
}
#backtolobbyButton{
	float: left !important;
/*	padding-top: 6px;*/
	padding-left: 5px;
	font-size: 2.5em;
}
#logoutButton {
	float: right !important;
/*	padding: 6px;*/
	font-size: 2.5em;
	cursor: pointer;
}

#onlineUser{
	background: #fcf8e3;
}

#offlineUser{
	background: #f5f5f5;
}

a {
	color: #EFB73E;
}

/*a:hover{
    color: #EFB73E;
    text-decoration: none;
}*/

h1, #loginForm, input#username, input#password, input#confirmPassword, #inputFullname {
	clear: both;
	text-align: center;
}
#loginForm,#welcomeMessageForm {
	margin: 0 auto;
	background-color: #EDEDED;
	max-width: 70%;
	padding: 10px;
}

#input#username, input#password, input#confirmPassword, #inputFullname {
	display: inline;
	max-width: 100%;
}

.col-lg-10 {
	width: 100%;
}

h3{
	clear: both;
	text-align: left;
}

#welcomemessage{
	width:65%; 
	margin-top:30px; 
	margin-left: 17.5%;
}

#scrollingMessages {
	overflow: scroll;
	height: 400px;
	margin: 5px;
}
#scrollingAnnouncements{
	overflow: scroll;
	height: 400px;
	margin: 5px;
}
.messages { 
	padding: 5px 10px; 
	background-color: #cdcdcd;
	opacity: 0.6;
	border-radius: 10px;
	margin: 5px 0 5px 0;
	float: left;
	width: 100%;
}

.timestamp {
	float: right;
}

.msg {
	font-size: 18px;
	color: #000;
	display: inline-table;
	width: 100%;
}
#postAnnouncementForm{
	width: 100%;
	margin-top: 70px;
/*	margin-left: 5%;*/
}
.username {
	font-weight: bold;
}
