nav.navbar.navbar-inverse.navbar-fixed-top
	div.navbar-header
		div
			a.btn.glyphicon.glyphicon-circle-arrow-left#backtolobbyButton(ui-sref='lobby')
		div.navbar-brand {{title}}
		div.searchField
				search(param='searchString', placeholder='Search', search='search($param)')
				a(ng-click='showMoreResults()', ng-show='searchMode') Show more
				a.btn.glyphicon.glyphicon-remove-sign(ng-click='clear()')
		div
			a.btn.glyphicon.glyphicon-off#logoutButton(ng-click='logout()')